

header{
    font-family: 'Libre Baskerville', serif;
    
}

nav h1 a {
    font-size: 2em; 
    background-color: rgb(17, 172, 255);
    color: white;
    border-radius:0.5em;
    padding: 0.3em;
}
nav{
    margin: none;
    border-radius: 0.5em;
    padding: 0.5em;
    border-color: #09f;
   background-image: linear-gradient(
        180deg, 
        #0037ff,
        #09f,
        white
   );

}

button {

    border: 0.2em;
    background-image: linear-gradient(
        140deg,
        #9500ff,
        #09f,
        #00ddff
        );
        
        border-radius: 0.5em;
        display: flex;
        font-size: 1.05em;
        padding: 0.3em;
        cursor: pointer;
        transition: .3s;
}


button span a {

    color: white;
}        


button span{
    border-radius: 0.5em;
    background-color: #111;
    padding: 0.5em 0.5em;
    transition: .3s;
}

button :hover{
background: none;
}

button :active{
    transform: scale(0.9);
}

h2{
    text-align: center;
}

.libro-lectura{
    border: grey solid 1px;
    border-radius: .5em;
    background-image: linear-gradient(
     #ffffff,#09f, #0037ff,#09f, white);
}

img{
    width: 12em;
    height: 12em;
}


.requerido {
    color:red;
}