

header{

    font-family: 'Libre Baskerville', serif;
    
}
a{
    text-decoration: none;
}
h1{
    margin-block: 0.005em;
}
h1 a{
    margin:.3em;
    display: inline-block;
    font-size: 1.7em; 
    background: rgb(17, 172, 255);
    color: white;
    border-radius:0.5em;
    padding: 0.3em;
}


.botones{
position: absolute;
top: 1em;
left:35em;
}

.boton1{
    display: inline-block;
    
}

.boton2{
    display: inline-block;
    
}

.boton3{
    display: inline-block;
   
}
button {

    border: 0.1em;
    background: linear-gradient(
        140deg,
        #9500ff,
        #09f,
        #00ddff
        );
    border-radius: 0.5em;
    display: flex;
    font-size: 1.0em;
    padding: 0.3em;
    cursor: pointer;
    transition: .3s;
}


button span a {
    color: white;
}        


button span{
    font-size: .9em;
    border-radius: 0.5em;
    background: #111;
    padding: 0.5em 0.5em;
    transition: .3s;
}

button :hover{
    background: none;
}

button :active{
    transform: scale(0.9);
}

nav{
    border-radius: 0.5em ;
    padding-bottom: 5em;
    border-color: #09f;
    background: linear-gradient(
        180deg, 
        #0037ff,
        #09f,
        white
        );
            
}

h2{
    text-align: center;
}

article{
    text-align: center;
}
.Recomendados{
    
    transition:1s;
    cursor: pointer;
    display: inline-block;
    border: grey solid 1px;
    border-radius: .5em;
    background: linear-gradient(
        #ffffff,#09f, #0037ff,#09f, white);
        font-size: .8em;
        text-align: center;
        
    }
    
    .Recomendados figure{
        margin-inline: 1em;
    }
    .Recomendados :hover{
        display: flex;
        padding: .5em;
    }
   .Recomendados p{
    position:none;
   }
    
    .Recomendados :active{
        position: absolute;
        background:  linear-gradient(
            #ffffff,#09f,#09f, white
        );
    transition: 1s;
    transform: scale(0.9);
}

.Recomendados img{

    width: 10em;
    height: 10em;
}

.sugerencias, input{
    font-size: .79em;
}


.requerido {
    color:red;
}

.redes{
    display: inline-block;
}
footer{
    padding: .5em;
    border-radius: .5em;
    background: linear-gradient(
        180deg, 
        white,
        #09f,
        #0037ff
        );
    
}

footer img{
    margin: 0.5em;
    background: white;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}