header{

    font-family: 'Libre Baskerville', serif;
    
}
a{
    text-decoration: none;
}
h1{
    margin-block: 0.005em;
}
h1 a{
    margin:.3em;
    display: inline-block;
    font-size: 2em; 
    background: rgb(17, 172, 255);
    color: white;
    border-radius:0.5em;
    padding: 0.3em;
}

.inicio{
position: absolute;
top: 1em;
left:90%;
font-size: 1.1em;
}

button {

    border: 0.1em;
    background: linear-gradient(
        140deg,
        #9500ff,
        #09f,
        #00ddff
        );
    border-radius: 0.5em;
    display: flex;
    font-size: 1.0em;
    padding: 0.3em;
    cursor: pointer;
    transition: .3s;
}


button span a {
    color: white;
}        


button span{
    border-radius: 0.5em;
    background: #111;
    padding: 0.5em 0.5em;
    transition: .3s;
}

button :hover{
    background: none;
}

button :active{
    transform: scale(0.9);
}

nav{
    position: sticky; 
    top: 0;
    border-radius: 0.5em ;
    padding-bottom: 3em;
    border-color: #09f;
    background: linear-gradient(
        180deg, 
        #0037ff,
        #09f,
        white
        );
            
}

.cuerpo{
    margin: 10em;
    padding: 1em;
    border-style:  solid;
    border: .1px, grey;

}

.cuerpo button{
    margin:1em;
   margin-right: 1em;
}

input{
    font-size: 1.5em;
}

.texto{
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

.redes{
    display: inline-block;
}
footer{
    padding: .5em;
    border-radius: .5em;
    background: linear-gradient(
        180deg, 
        white,
        #09f,
        #0037ff
        );
    
}

footer img{
    margin: 0.5em;
    background: white;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}